
.cellC{
  //font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  padding: 8Px;
  border-bottom: 1Px solid #ddd;
  & img{
    width: 80Px;
    min-width: 80Px;
  }
  & .txtC{
    margin-left: 8Px;
    & .title{
      font-size: 32px;
      color: #000;
    }
    & .digest{
      font-size: 24px;
      color: #888;
      min-height: 26Px;
    }
  }
}